<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title>Pembukuan - <%= @title %> </title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'css/bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'css/londinium-theme', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'css/styles', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'css/icons', media: 'all', 'data-turbolinks-track' => true %>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <%= javascript_include_tag 'js/plugins/charts/sparkline.min.', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/forms/uniform.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/forms/select2.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/forms/inputmask', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/forms/autosize', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/forms/inputlimit.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/forms/listbox', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/forms/multiselect', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/forms/validate.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/forms/tags.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/forms/switch.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/forms/uploader/plupload.full.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/forms/uploader/plupload.queue.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/forms/wysihtml5/wysihtml5.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/forms/wysihtml5/toolbar', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/interface/daterangepicker', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/interface/fancybox.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/interface/moment', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/interface/jgrowl.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/interface/datatables.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/interface/colorpicker', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/interface/fullcalendar.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/plugins/interface/timepicker.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/bootstrap.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/jquery.restfulizer', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/main', 'data-turbolinks-track' => true %>

  </head>

  <body>

    <!-- Navbar -->
    <div class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Pembukuan</a>
        <a class="sidebar-toggle"><i class="icon-paragraph-justify2"></i></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-icons">
          <span class="sr-only">Toggle navbar</span>
          <i class="icon-grid3"></i>
        </button>
        <button type="button" class="navbar-toggle offcanvas">
          <span class="sr-only">Toggle navigation</span>
          <i class="icon-paragraph-justify2"></i>
        </button>
      </div>

      <ul class="nav navbar-nav navbar-right collapse" id="navbar-icons">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-people"></i>
            <span class="label label-default">2</span>
          </a>
          <div class="popup dropdown-menu dropdown-menu-right">
            <div class="popup-header">
              <a href="#" class="pull-left"><i class="icon-spinner7"></i></a>
              <span>Activity</span>
              <a href="#" class="pull-right"><i class="icon-paragraph-justify"></i></a>
            </div>
            <ul class="activity">
              <li>
                <i class="icon-cart-checkout text-success"></i>
                <div>
                  <a href="#">Eugene</a> ordered 2 copies of <a href="#">OEM license</a>
                  <span>14 minutes ago</span>
                </div>
              </li>
              <li>
                <i class="icon-heart text-danger"></i>
                <div>
                  Your <a href="#">latest post</a> was liked by <a href="#">Audrey Mall</a>
                  <span>35 minutes ago</span>
                </div>
              </li>
              <li>
                <i class="icon-checkmark3 text-success"></i>
                <div>
                  Mail server was updated. See <a href="#">changelog</a>
                  <span>About 2 hours ago</span>
                </div>
              </li>
              <li>
                <i class="icon-paragraph-justify2 text-warning"></i>
                <div>
                  There are <a href="#">6 new tasks</a> waiting for you. Don't forget!
                  <span>About 3 hours ago</span>
                </div>
              </li>
            </ul>
          </div>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-paragraph-justify2"></i>
            <span class="label label-default">6</span>
          </a>
          <div class="popup dropdown-menu dropdown-menu-right">
            <div class="popup-header">
              <a href="#" class="pull-left"><i class="icon-spinner7"></i></a>
              <span>Messages</span>
              <a href="#" class="pull-right"><i class="icon-new-tab"></i></a>
            </div>
            <ul class="popup-messages">
              <li class="unread">
                <a href="#">
                  <img src="http://placehold.it/300" alt="" class="user-face">
                  <strong>Eugene Kopyov <i class="icon-attachment2"></i></strong>
                  <span>Aliquam interdum convallis massa...</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="http://placehold.it/300" alt="" class="user-face">
                  <strong>Jason Goldsmith <i class="icon-attachment2"></i></strong>
                  <span>Aliquam interdum convallis massa...</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="http://placehold.it/300" alt="" class="user-face">
                  <strong>Angel Novator</strong>
                  <span>Aliquam interdum convallis massa...</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="http://placehold.it/300" alt="" class="user-face">
                  <strong>Monica Bloomberg</strong>
                  <span>Aliquam interdum convallis massa...</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="http://placehold.it/300" alt="" class="user-face">
                  <strong>Patrick Winsleur</strong>
                  <span>Aliquam interdum convallis massa...</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle">
            <i class="icon-grid"></i>
          </a>
          <div class="popup dropdown-menu dropdown-menu-right">
            <div class="popup-header">
              <a href="#" class="pull-left"><i class="icon-spinner7"></i></a>
              <span>Tasks list</span>
              <a href="#" class="pull-right"><i class="icon-new-tab"></i></a>
            </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Category</th>
                  <th class="text-center">Priority</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><span class="status status-success item-before"></span> <a href="#">Frontpage fixes</a></td>
                  <td><span class="text-smaller text-semibold">Bugs</span></td>
                  <td class="text-center"><span class="label label-success">87%</span></td>
                </tr>
                <tr>
                  <td><span class="status status-danger item-before"></span> <a href="#">CSS compilation</a></td>
                  <td><span class="text-smaller text-semibold">Bugs</span></td>
                  <td class="text-center"><span class="label label-danger">18%</span></td>
                </tr>
                <tr>
                  <td><span class="status status-info item-before"></span> <a href="#">Responsive layout changes</a></td>
                  <td><span class="text-smaller text-semibold">Layout</span></td>
                  <td class="text-center"><span class="label label-info">52%</span></td>
                </tr>
                <tr>
                  <td><span class="status status-success item-before"></span> <a href="#">Add categories filter</a></td>
                  <td><span class="text-smaller text-semibold">Content</span></td>
                  <td class="text-center"><span class="label label-success">100%</span></td>
                </tr>
                <tr>
                  <td><span class="status status-success item-before"></span> <a href="#">Media grid padding issue</a></td>
                  <td><span class="text-smaller text-semibold">Bugs</span></td>
                  <td class="text-center"><span class="label label-success">100%</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>

        <li class="user dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <img src="http://placehold.it/300">
            <span>Eugene Kopyov</span>
            <i class="caret"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right icons-right">
            <li><a href="#"><i class="icon-user"></i> Profile</a></li>
            <li><a href="#"><i class="icon-bubble4"></i> Messages</a></li>
            <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
            <li><a href="#"><i class="icon-exit"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /navbar -->


    <!-- Page container -->
    <div class="page-container">


      <!-- Sidebar -->
      <div class="sidebar">
        <div class="sidebar-content">

          <!-- User dropdown -->
          <div class="user-menu dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="http://placehold.it/300">
              <div class="user-info">
                Madison Gartner <span>Web Developer</span>
              </div>
            </a>
            <div class="popup dropdown-menu dropdown-menu-right">
              <div class="thumbnail">
                <div class="thumb">
                  <img src="http://placehold.it/300">
                  <div class="thumb-options">
                    <span>
                      <a href="#" class="btn btn-icon btn-success"><i class="icon-pencil"></i></a>
                      <a href="#" class="btn btn-icon btn-success"><i class="icon-remove"></i></a>
                    </span>
                  </div>
                </div>

                <div class="caption text-center">
                  <h6>Madison Gartner <small>Front end developer</small></h6>
                </div>
              </div>

              <ul class="list-group">
                <li class="list-group-item"><i class="icon-pencil3 text-muted"></i> My posts <span class="label label-success">289</span></li>
                <li class="list-group-item"><i class="icon-people text-muted"></i> Users online <span class="label label-danger">892</span></li>
                <li class="list-group-item"><i class="icon-stats2 text-muted"></i> Reports <span class="label label-primary">92</span></li>
                <li class="list-group-item"><i class="icon-stack text-muted"></i> Balance <h5 class="pull-right text-danger">$45.389</h5></li>
              </ul>
            </div>
          </div>
          <!-- /user dropdown -->


          <!-- Main navigation -->
          <ul class="navigation">
            <li class=""><a href="<%= transactions_path %>"><span>Transaksi</span> <i class="icon-screen2"></i></a></li>
            <li class=""><a href="<%= category_types_path %>"><span>Jenis Kategori</span> <i class="icon-screen2"></i></a></li>
            <li class=""><a href="<%= categories_path %>"><span>Kategori</span> <i class="icon-screen2"></i></a></li>
            <li class=""><a href="<%= funding_sources_path %>"><span>Sumber Dana</span> <i class="icon-screen2"></i></a></li>
          </ul>
          <!-- /main navigation -->

        </div>
      </div>
      <!-- /sidebar -->


      <!-- Page content -->
      <div class="page-content">
        <div class="page-header">
          <div class="page-title">
            <h3><%= @title %></h3>
          </div>
        </div>
        <%= yield %>
      </div>
      <!-- /page content -->


    </div>
    <!-- /page container -->

  </body>
</html>